<div class="header10-container clearfix text-center">
	<div class="header10-title inline-title">
	
	<div class="adduser-circle">
	
		<i class="icon-contact"></i>  </div><%=getMessage('WIZARD_ADD_USERS')%>
	   
	</div>
	
	<div class="header10-short-description">
	<%=getMessage('WIZARD_INVITE_OTHERS')%> 
	</div>
</div>
<div class="contents10-container full-image clearfix">
	<div class="well-lg">
      <table id="user_table_labels" cellpadding="0" cellspacing="0" >
          <tr>
              <td class="user_table_col1">
                  <%=getMessage('WIZARD_USER_FIRSTNAME')%> 
              </td>
              <td class="user_table_col2">
                  <%=getMessage('WIZARD_USER_LASTNAME')%>
              </td>
              <td class="user_table_col3">
                  <%=getMessage('WIZARD_USER_EMAIL')%>
              </td>
              <td class="user_table_col4">
              </td>
          </tr>
      </table>
    </div>
      
	<div class="add-more-users">
	    <span id="add-users"><%=getMessage('WIZARD_ADD_MORE_USERS')%></span>
	</div>
  </div>