	<div class="dialog-title no-margin">
    	<%=getMessage('WIZARD_EXPLOREANALYTICS_READY_FOR_FEEDBACK')%><button class="close" type="button"> &times; </button>
    </div>
    <div class="dialog-title-2">
    	<%=getMessage('WIZARD_EXPLOREANALYTICS_SENTOUT_EMAIL_SURVEY')%>
    </div>
    <div class="dialog-row">
    	<div class="dialog-col3">
        	<div class="dialog-icon">
            	<div class="dialog-icon-circle">
            		<i class="icon-analytics-2"></i>
                </div>
            </div>
            <div class="dialog-icon-label">
            	<%=getMessage('WIZARD_EXPLOREANALYTICS_INVITATION_TEST_DRIVE_DEMO_DATA')%>
            </div>
            <div class="dialog-icon-btn">
            	<a class="next_step_clos_btn gotostep" href="javascript:void(0);" id="gotoanalytics" step="learnanalytics" ><%=getMessage('WIZARD_EXPLOREANALYTICS_LABEL')%></a>
            </div>
        </div>
    </div>