<div class="header10-container clearfix text-center">

	
	<div class="header10-title inline-title">
			<i class="icon-customerjourney-2"></i> <%=getMessage('WIZARD_CUSTGRAPH_INTRO')%>
	</div>
	
	<div class="header10-short-description clearfix">
		<%=getMessage('WIZARD_CUSTGRAPH_LEARNHOW_VIDEO')%>
	</div>
</div>
        
<div class="contents10-container full-image clearfix" id="welcome-content-container">
	<div class="well-lg text-center" id="programVideoContainer">
   	<!--  <img src="images/xpui/welcome-to-satmetrix.jpg" style="width:100%"> -->
   	<!-- <video controls style="width:65%;height:65%;max-width:1100px;border:1px solid #e5e5e5;border-radius:4px 0 0 0;-webkit-border-radius:4px 0 0 0;-moz-border-radius:4px 4px 0 0">
		<source src="../passionhelp/en_US/content/resources/multimedia/Program.mp4" type="video/mp4">
 		Your browser does not support the video tag.
	</video> -->
    </div>
 </div>