	<div class="dialog-title no-margin">
    	<%=getMessage('WIZARD_PROGRAM_SETUP_COMPLETE')%> <button class="close" type="button"> &times; </button>
    </div>
    
    <div class="dialog-title-2">
    	<%=getMessage('WIZARD_PROGRAM_LIKE_TODO_NEXT')%>
    </div>
    
    <div class="dialog-row">
    	<div class="dialog-col1">
        	<div class="dialog-icon">
            	<div class="dialog-icon-circle">
            		<i class="icon-product-release-1"></i>
                </div>
            </div>
            <div class="dialog-icon-label">
            	<%=getMessage('WIZARD_PROGRAM_HELP_SETUP_CEP')%>
            </div>
            <div class="dialog-icon-btn">
            	<a class="next_step_clos_btn gotostep" step="customergraph" href="javascript:void(0)"><%=getMessage('WIZARD_PROGRAM_CONTINUE_SETUP')%></a>
            </div>
        </div>
        <div class="dialog-col2">
        	<%=getMessage('WIZARD_PROGRAM_OR_MESSAGE')%>
        </div>
        <div class="dialog-col1">
        	<div class="dialog-icon">
            	<div class="dialog-icon-circle">
            		<i class="icon-analytics-2"></i>
                </div>
            </div>
            <div class="dialog-icon-label">
            	<%=getMessage('WIZARD_PROGRAM_TESTDRIVE_DEMODATA')%>
            </div>
            <div class="dialog-icon-btn">
            	<a class="next_step_clos_btn gotostep" step="learnanalytics" skipped="true" href="javascript:void(0)"><%=getMessage('WIZARD_PROGRAM_EXPLORE_ANALYTICS_TOOLTIP')%></a>
            </div>
        </div>
    </div>