		<div class="header10-container clearfix text-center">
        	
            <div class="header10-title RELATIONSHIP hide inline-title">
            	<i class="icon-edit-relationshipsurvey"></i> <%=getMessage('WIZARD_SURVEYTPL_EDIT_REL_SURVEY')%>
            </div>
            
            <div class="header10-title TRANSACTION hide inline-title">
            	<i class="icon-edit-relationshipsurvey"></i> <%=getMessage('WIZARD_SURVEYTPL_EDIT_TP_SURVEY')%>
            </div>
			
            <div class="header10-short-description stepheader stepheader0 clearfix">
			    <%=getMessage('WIZARD_SURVEYTPL_EDIT_SURVEY_KNOWHOW_VIDEO')%> 
            </div>
            
            <div class="clearfix header10-short-description stepheader stepheader1 RELATIONSHIP hide">
			    <%=getMessage('WIZARD_SURVEYTPL_REL_SURVEY_OVERVIEW')%> 
            </div>
            
            <div class="clearfix header10-short-description stepheader stepheader1 TRANSACTION hide">
			    <%=getMessage('WIZARD_SURVEYTPL_TP_SURVEY_OVERVIEW')%> 
            </div>
            
            <div class="clearfix header10-short-description stepheader stepheader2 RELATIONSHIP hide">
			    <%=getMessage('WIZARD_SURVEYTPL_REL_SURVEY_CHANNELS')%>
 
            </div>
            
            <div class="clearfix header10-short-description stepheader stepheader2 TRANSACTION hide">
			    <%=getMessage('WIZARD_SURVEYTPL_TP_SURVEY_CHANNELS')%>
 
            </div>
        </div>
        
        <div class="contents10-container full-image clearfix" id="surveywizardstep">
        	<div class="well-lg">
        	<!-- <form id="wizard-1" novalidate="novalidate"> -->
                <div id="bootstrap-wizard-1" class="col-sm-12 no-padding wizard-style2">
                    <div class="form-bootstrapWizard">
                        <ul class="bootstrapWizard form-wizard tabheader">
                            <li class="active" data-target="#step1" style="width:33%">
                                <a href="javascript:void(0);" data-target="#wizstepcontent0" step="0"> <span class="step">1</span> <span class="title"><%=getMessage('WIZARD_SURVEYTPL_LEARNHOW_TOOLTIP')%></span> </a>
                            </li>
                            <li  data-target="#step2" style="width:33%">
                                <a href="javascript:void(0);" data-target="#wizstepcontent1" step="1"> <span class="step">2</span> <span class="title"><%=getMessage('WIZARD_SURVEYTPL_EDIT_SURVEY_TOOLTIP')%></span> </a>
                            </li>
                            <li data-target="#step3" style="width:34%">
                                <a href="javascript:void(0);" data-target="#wizstepcontent1" step="2"> <span class="step">3</span> <span class="title"><%=getMessage('WIZARD_SURVEYTPL_DISTRIBUTE_SURVEY_TOOLTIP')%></span> </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    
                    <div class="tab-content top-padding-60" id="surveywizardcontent">
                        <div class="tab-pane active wiz-tab-pane text-center surveyVideoContainer" id="wizstepcontent0">
						     <!--  <img src="images/xpui/welcome-to-satmetrix.jpg" style="width:100%"> -->
						     <!-- <video controls style="width:65%;height:65%;max-width:1100px;border:1px solid #e5e5e5;border-radius:4px 0 0 0;-webkit-border-radius:4px 0 0 0;-moz-border-radius:4px 4px 0 0">
								<source src="../passionhelp/en_US/content/resources/multimedia/Survey.mp4" type="video/mp4">
 								Your browser does not support the video tag.
							</video> -->
						     
						</div>
						<div class="tab-pane wiz-tab-pane" id="wizstepcontent1">
						</div>
                    </div>
                </div>
                </div>
            <!-- </form> -->
        
        </div>